

<% include partials/had %>

<style>
    .tbl{
        margin-left:50px;
        margin-right:50px;
        margin-top:50px;
    }
    .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #808080;
  color: white;
  text-align: center;
  margin-bottom:5px;

}
</style>

<br>
<br>
<center><h2>News Latter</h2></center>
  
   <div class="tbl">
<table class="table table-bordered" id="myTable">
<thead>
<tr>
    <th scope="col">Email ID</th>
    
   
    

  
    
</tr>
</thead>
<tbody>
<% ShowAllNewsletterSubscription.forEach(function(demo){%>
<tr>

<td> <%= demo.Email_ID %></td>





</tr>
<%}) %>


</tbody>


</table>
</div>

<div class="footer">
<p>© 2019 Aarav Designer Boutique</p>
</div>
  
<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>