

<% include partials/had %>

<style>
    .tbl{
        margin-left:200px;
        margin-right:200px;
        margin-top:50px;
    }
</style>

   <br />
   <div class="tbl">
<table class="table table-bordered" id="myTable">
<thead>
<tr>
    <th scope="col">Brand Name</th>
  
    <th scope="col">Edit/Delete</th>
    
</tr>
</thead>
<tbody>
<% ShowAllBrand.forEach(function(demo){%>
<tr>

<td> <%= demo.Brand_Name %></td>


<td>
        <a href='/edtsBrand/<%= demo._id %>'>Edit</a>  |

        <a href='/deleteBrand/<%= demo._id %>'>Delete</a>
</td>


</tr>
<%}) %>


</tbody>


</table>
</div>



