

<% include partials/had %>

<style>
    .tbl{
        margin-left:200px;
        margin-right:200px;
        margin-top:50px;
    }
    .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #808080;
  color: white;
  text-align: center;
  margin-bottom:5px;

}
#tg{
    margin-left:1200px;
}
</style>

<br>
<br>
<center><h2>Show All Brand</h2></center>
<a class="btn btn-primary" id="tg" href="Brand">Add Brand</a>

   <div class="tbl">
<table class="table table-bordered" id="myTable">
<thead>
<tr>
    <th scope="col">Brand Name</th>
  
    <th scope="col">Edit/Delete</th>
    
</tr>
</thead>
<tbody>
<% ShowAllBrand.forEach(function(demo){%>
<tr>

<td> <%= demo.Brand_Name %></td>


<td>
        <a href='/edtsBrand/<%= demo._id %>'>Edit</a>  |

        <a href='/deleteBrand/<%= demo._id %>'>Delete</a>
</td>


</tr>
<%}) %>


</tbody>


</table>
</div>
<div class="footer">
<p>© 2009-20. All Rights Reserved. Powered by RiseCommercer</p>
</div>
<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>

