<% include partials/had %>
<style>
    .frmcnt{
        margin-top:50px;
      margin-left:300px;
      margin-right:300px;
        border: 1px solid;
    }
    .sp{
        padding:10px;
    }
    .btnctn{
        margin-left:250px;
        margin-top:10px;
       
    }
    .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #808080;
  color: white;
  text-align: center;
  margin-bottom:5px;

}
</style>
<body>
<br>
<br>
<center><h2>Supplier</h3></center>
<div class="frmcnt">
<form action="/Supplier" method="post" autocomplete="off">
<div class="sp">

<div class="form-group">
  <label for="formGroupExampleInput">Supplier Name</label>
  <input type="text" class="form-control" placeholder="First name" name="Supplier_Name" required>
</div>

  <div class="from-group">
<label>Mobile Number</label>
<input type="text" class="form-control"  placeholder="Mobile Number" name="Mobile" pattern="^\d{10}$" onkeypress="javascript:return isNumber(event)">
</div>

<div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Email ID" name="Email_ID" onclick="emailValidator(document.getElementById('emailid'), 'This is Not a Valid Email')">
  </div>


 <label>City</label>
  <select class="form-control" name="City_Name" id="city">
  <% for(var i=0; i<users.length;i++) { %>
    <option value="<%= users[i].City_Name%>"><%= users[i].City_Name %></option>
    <% } %>
  </select>
  
<br />
<label>Area</label>
  <select class="form-control" name="Area_Name" id="area">
  </select>


  
<div class="btnctn">
<button type="submit" class="btn btn-primary" >Add</button>
<a class="btn btn-primary" href="ShowAllSupplier"> Display All Supplier</a>
</div>
</div>
  </form>
  </div>
 <script type="text/javascript">
    $('#city').change(function(e){
      console.log("change",e.target.value);
      $.get('/getarea?city_name='+e.target.value,function(res){
      console.log(res);
      $("#area").html("");
      for(var i=0; i< res.area.length;i++){
        let element = res.area[i];
        $("#area").append("<option>"+element.Area_Name+"</option>");
      }
    })
    })
    
 </script>
 <div class="footer">
 <p>© 2009-20. All Rights Reserved. Powered by RiseCommercer</p>
 </div>
   
 <script type='text/javascript'> function emailValidator(element, alertMsg){ var emailvalid = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/; if(element.value.match(emailvalid)) { alert("Email Validation: Successful."); return true; }else{ alert(alertMsg); element.focus(); return false; } } </script>


 <script>
 // WRITE THE VALIDATION SCRIPT.
 function isNumber(evt) {
     var iKeyCode = (evt.which) ? evt.which : evt.keyCode
     if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
         return false;

     return true;
 }    
</script>

</body>