<% include partials/had %>
<style>
.btna{
    margin-left:400px;
    margin-top:80px;

    margin-right:400px;
  border: 1px solid ;
}
#btncta{
    margin-left:180px;
}
.form-group{
    padding:10px;
}
</style>

<body>
<div class="btna">
<form action="/TypesOfWork" method="post" autocomplete="off">
<div class="form-group">
  <label for="formGroupExampleInput">Work Name</label>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Work" name="Work_Name">
</div>

<button type="submit" class="btn btn-primary" id="btncta">Add</button>
<a class="btn btn-primary" href="ShowAllTypesOfWork"> Show All Works</a>
</form>
</div>
</body>